﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>@ViewBag.Title</title>

    <!-- Bootstrap core CSS -->
    <link href="@Url.Content("~/css/bootstrap.min.css")" rel="stylesheet" type="text/css">
    <link href="@Url.Content("~/fontawesome/css/all.css")" rel="stylesheet" type="text/css">

    <!-- Custom CSS -->
    <link href="@Url.Content("~/css/style.css")" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template -->
    <style>
        body {
            padding-top: 54px;
        }

        @@media (min-width: 992px) {
            body {
                padding-top: 56px;
            }
        }
    </style>
</head>
<body>
    <!-- Navigation -->
    @Html.Partial("_Navigation")

    <!-- Page Content -->
    @RenderBody()

    <!-- Bootstrap core JavaScript -->
    <script src="@Url.Content("~/js/jquery-3.3.1.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/js/bootstrap.min.js")"></script>
</body>
</html>