﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="mt-5">Demos</h1>
            <ul id="vertical_menu">
                <li><a class="btn btn-primary" href="@Url.Content("send-mail")">Send Email (MailTrap)</a></li>
                <li><a class="btn btn-primary" href="@Url.Content("/")">List all items via API</a></li>
                <li><a class="btn btn-primary" href="@Url.Content("/")">Query an outside API</a></li>
                <li></li>
                <li></li>
            </ul>
        </div>
    </div>
</div>