﻿@*
    comments go here
*@
@{
    ASPNETCoreWebAppTest2.Models.Test data = ViewBag.testData;
}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="mt-5">List all items and the first item</h1>
            <p><strong>Első ID:</strong> @data.id</p>
            <p><strong>Első név:</strong> @data.name</p>
            <hr />
            <p><strong>Összes rekord:</strong></p>
            <table class="table table-striped table-bordered table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th>Azonosító</th>
                        <th>Név</th>
                        <th>Műveletek</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.id</td>
                            <td>@item.name</td>
                            <td class="text-right">
                                <a href="@Url.Content("show/" + item.id)" class="btn-sm btn-primary"><i class="fas fa-eye"></i></a>
                                <a href="@Url.Content("delete/" + item.id)" class="btn-sm btn-danger"><i class="fas fa-trash-alt"></i></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>