﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="mt-5">Mail response</h1>
            <p>Mail sent hopefully :D</p>
        </div>
    </div>
</div>