﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="mt-5">Showing item</h1>
            <p><strong>ID:</strong> @Model.id</p>
            <p><strong>Név:</strong> @Model.name</p>
        </div>
    </div>
</div>